<h1>Eat-Da-Burger!</h1>


<ul>
  {{#each burgers}}
      {{#unless devoured}}
        {{> burgers/burger-block devour=false}}
      {{/unless}}
    {{/each}}
</ul>

<h2>Burgers Eaten</h2>

<ul>
  {{#each burgers}}
      {{#if devoured}}
        {{> burgers/burger-devoured devour=true}}
      {{/if}}
  {{/each}}
</ul>


<form class="create-form">

  <div class="form-group">
    <label for="burger">Enter Burger Name</label>
    <input type="text" id="burger" name="name">
  </div>

  <button type="submit">Submit</button>
</form>

<h3>Enter a burger you want to eat and click the 'submit' button</h3>